@model IEnumerable<Solution.Presentation.Models.CompanyVM>
@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                <div>
                    Search by Company: @Html.TextBox("searchString")
                </div>
            </td>
            <td>
                <input type="submit" value="Search" id="submit" />
            </td>
        </tr>
    </table>
}


<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (Model != null)
{
    foreach (var item in Model)
    {
        @Html.Partial("_CompanyDetails", item);
    }
}
