@model Solution.Domain.Entities.Availability

@{
    ViewBag.Title = "ChooseDate";
}

<h2>ChooseDate</h2>

<h3>Are you sure you want to Cchoose this date ?</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability_Date_Begin)
        </dd>

        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirm" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "IndexCand")
        </div>
    }
</div>
